* {
	box-sizing: border-box;
  }

html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
  }
  
  body {
	overflow-x: hidden;
	font-family: 'Space Mono', monospace;
	line-height: 2.2;
	background: #CAFFFED2;
	margin: auto;
	padding: 0;
	max-width: 10000%;
  }
  
  h1 {
	font-size: 90%;
	text-align: center;
	background: #71FFEE;
	margin-top: 0%;
	margin-bottom: 20%;
  }
  
  h1.section_title{
	  margin-top: 6%;
	  background-image: url('../images/intro.jpg');
	  box-shadow: 0px 5px 20px;
  }
  
  h1.title{
	  text-align: center;
	  max-width: 90%;
  }
  
  div.company.logo{
	  text-align: center;
  }
  
  span.section_subtitle{
	  font-size: 90%;
	  background-image: url('../images/intro.jpg');
	  margin: 5%;
  }
  
  p.about_description{
	  font-size: 80%;
	  background-image: url('../images/intro.jpg');
	  margin: 5%;
  }
  
  div#mid{
	  padding-top: 10%;
	  margin-bottom: 6%;
  }
  
  .square1{
	  height: 200px;
	  width: 200px;
	  background-color: #5B0992;
	  text-align: center;
	  display: inline-block;
	  line-height: 150px;
	  color: black;
	  margin-bottom: 2.5%;
  }
  
  .square2{
	  height: 200px;
	  width: 200px;
	  background-color: #5B0992;
	  text-align: center;
	  display: inline-block;
	  line-height: 150px;
	  color: black;
	  margin-bottom: 2.5%;
  }
  
  .square3{
	  height: 200px;
	  width: 200px;
	  background-color: #5B0992;
	  text-align: center;
	  display: inline-block;
	  line-height: 150px;
	  color: black;
  }
  
  #mid{
	  text-align: center;
	  
  }
div.ismah{
	padding-bottom: 50%;
}
  
  .square1{
	width: 200px;
	height: 200px;
	background-image: url('../images/intro.jpg');
	position: relative;
	animation-name: example;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
  }
  
  @keyframes example {
	  0%   {background-image: url('../images/intro.jpg'); bottom:-500px;left: 0px;}
	100%  {background-image: url(../images/intro.jpg');  bottom:0px; left:0px;}
  }
  
  .square3{
	width: 200px;
	height: 200px;
	  background-image: url('../images/intro.jpg'); 
	position: relative;
	animation-name: example1;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
  }
  

  @keyframes example1 {
	  0%   {background-image: url('../images/intro.jpg'); bottom:-500px;left: 0px;}
	100%  {background-image: url('../images/intro.jpg');  bottom:0px; left:0px;}
  }
  
  .square2{
	width: 200px;
	height: 200px;
	background-image: url('../images/intro.jpg'); 
	position: relative;
	animation-name: example2;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
  }
  
  @keyframes example2 {
	  0%   {background-image: url('../images/intro.jpg'); bottom:-500px;left: 0px;}
	100%  {background-image: url('../images/intro.jpg');  bottom:0px; left:0px;}
  }

/*Bottom Navigation Bar*/
#navbar {
	background-color: #333;
	position: fixed;
	bottom: 0px;
	left:0px;
	width: 100%;
	display: block;
	transition: top 0.3s;
  }
  
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 10px;
	text-decoration: none;
	font-size: 15px;
	width : 33.33%;
  }
  
  #navbar a:hover {
	background-color: #ddd;
	color: black;
  }

  /*Dark Mode(Experimental)*/
  .dark-mode{
	background-color: black;
	/*color: white;*/
}

.darkBtn{
  right:0;
  top: 0; /* Position the navbar at the top of the page */
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  background-color: black;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  cursor: pointer;
}