html {
	margin: 0;
	padding: 0;
	scroll-behavior: smooth;
  }
  
  body {
	overflow-x: hidden;
	font-family: 'Space Mono', monospace;
	line-height: 2.2;
	background: #CAFFFED2;
	margin: auto;
	padding: 0;
	max-width: 10000%;
  }
  
  h1 {
	font-size: 90%;
	text-align: center;
	background: #71FFEE;
	margin-top: 0%;
	margin-bottom: 20%;
  }
  
  h1.section_title{
	  margin-top: 6%;
	  background-image: url('../images/intro.jpg');
	  box-shadow: 0px 5px 20px;
  }
  
  h1.title{
	  text-align: center;
	  max-width: 90%;
  }
  
  div.company.logo{
	  text-align: center;
  }
  
  span.section_subtitle{
	  font-size: 90%;
	  background-image: url('../images/intro.jpg')
  }
  
  p.about_description{
	  font-size: 80%;
	  background-image: url('../images/intro.jpg')
  }
  
  div#mid{
	  margin-bottom: 6%;
  }
  
  .square1{
	  height: 150px;
	  width: 150px;
	  background-color: #5B0992;
	  text-align: center;
	  display: inline-block;
	  line-height: 150px;
	  color: black;
	  margin-bottom: 2.5%;
  }
  
  .square2{
	  height: 150px;
	  width: 150px;
	  background-color: #5B0992;
	  text-align: center;
	  display: inline-block;
	  line-height: 150px;
	  color: black;
	  margin-bottom: 2.5%;
  }
  
  .square3{
	  height: 150px;
	  width: 150px;
	  background-color: #5B0992;
	  text-align: center;
	  display: inline-block;
	  line-height: 150px;
	  color: black;
  }
  
  #mid{
	  text-align: center;
  }
  
  .square1{
	width: 150px;
	height: 150px;
	background-image: url('../images/tiles.jpg');
	position: relative;
	animation-name: example;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
  }
  
  @keyframes example {
	  0%   {background-image: url('../images/tiles.jpg'); bottom:-500px;left: 0px;}
	100%  {background-image: url('../images/tiles.jpg');  bottom:0px; left:0px;}
  }
  
  .square3{
	width: 150px;
	height: 150px;
	  background-image: url('../images/tiles.jpg'); 
	position: relative;
	animation-name: example1;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
  }
  

  @keyframes example1 {
	  0%   {background-image: url('../images/tiles.jpg'); bottom:-500px;left: 0px;}
	100%  {background-image: url('../images/tiles.jpg');  bottom:0px; left:0px;}
  }
  
  .square2{
	width: 150px;
	height: 150px;
	background-image: url('../images/tiles.jpg'); 
	position: relative;
	animation-name: example2;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: 1;
	animation-direction: alternate;
  }
  
  @keyframes example2 {
	  0%   {background-image: url('../images/tiles.jpg'); bottom:-500px;left: 0px;}
	100%  {background-image: url('../images/tiles.jpg');  bottom:0px; left:0px;}
  }