/* My Starter Template */

* {
	box-sizing: border-box;
  }

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Space Mono', monospace;
  line-height: 2.2;
  background: #CAFFFED2;
  margin: auto;
  padding: 0;
  max-width: 10000%;
}

h1.headtitle{
	font-size: 300%;
	background-image: linear-gradient(#01DCEC, black);
	color: white;
	box-shadow: 1px 7px 20px grey;
	margin-bottom: 0%	
}

p.text{
	font-size: 30%;
	text-align: center;
	margin-top: -2%;
}

h1.title{
	text-align: center;
	font-size: 150%;
	border-radius: 2%/12%; 
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -1%;
	margin-top: 10%;
	position: relative;
    animation-name: mapdesigner;
    animation-duration: 5s;
}

p.button{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 1%/40%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes mapdesigner{
  0%   {left:-200%; top:0%;}
  25%  {left:0%; top:0%;}
}

@keyframes viewmore{
  0%   {left:-200%; top:0%;}
  25%  {left:0%; top:0%;}
}

h1.title1{
	text-align: center;
	font-size: 150%;
	border-radius: 2%/12%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -1%;
	margin-top: 4%;
	position: relative;
    animation-name: artist;
    animation-duration: 5s;
}

p.button1{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 1%/40%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore1;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes artist{
  0%   {right:-200%; top:0%;}
  25%  {right:0%; top:0%;}
}

@keyframes viewmore1{
   0%   {right:-200%; top:0%;}
   25%  {right:0%; top:0%;}
}

h1.title2{
	text-align: center;
	font-size: 150%;
	border-radius: 2%/12%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -1%;
	margin-top: 4%;
	line-height: 420%;
	position: relative;
    animation-name: programmer;
    animation-duration: 5s;
}

p.button2{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 1%/40%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore2;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes programmer{
  0%   {left:-200%; top:0%;}
  25%  {left:0%; top:0%;}
}

@keyframes viewmore2{
  0%   {left:-200%; top:0%;}
  25%  {left:0%; top:0%;}
}

h1.title3{
	text-align: center;
	font-size: 150%;
	border-radius: 2%/12%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -1%;
	margin-top: 4%;
	max-width: 1150%;
	position: relative;
    animation-name: designer;
    animation-duration: 5s;
}

p.button3{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 1%/40%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore3;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes designer{
  0%   {right:-200%; top:0%;}
  25%  {right:0%; top:0%;}
}

@keyframes viewmore3{
   0%   {right:-200%; top:0%;}
   25%  {right:0%; top:0%;}
}

h1.title4{
	text-align: center;
	font-size: 150%;
	border-radius: 2%/12%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -1%;
	margin-top: 4%;
	max-width: 1150%;
	position: relative;
    animation-name: sfx;
    animation-duration: 5s;
}

p.button4{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 1%/40%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 35%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore4;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes sfx{
  0%   {left:-200%; top:0%;}
  25%  {left:0%; top:0%;}
}

@keyframes viewmore4{
  0%   {left:-200%; top:0%;}
  25%  {left:0%; top:0%;}
}

h1 {
  font-size: 90%;
  text-align: center;
  background : #2BC8E1;
  margin-top: 0%;
  margin-bottom: 20%;
}

button {
  display: block;
  font-size: 1.2%;
  padding: 0.5% 1%;
  border: none;
  background:#5B0992;
  color: #FFFFFF;
  font-family: 'Space Mono', monospace;
  margin-bottom: 15%;
}

.mar{
	padding-bottom: 30%
}

/*Bottom Navigation Bar*/
#navbar {
	background-color: #333;
	position: fixed;
	bottom: 0%;
	left:0%;
	width: 100%;
	display: block;
	transition: top 0.3s;
  }
  
  #navbar a {
	float: left;
	display: inline-block;
	color: #f2f2f2;
	text-align: center;
	padding: 2%;
	text-decoration: none;
	font-size: 93.75%;
	width : 33.33%;
  }
  
  #navbar a:hover {
	background-color: #ddd;
	color: black;
  }

  /*Dark Mode(Experimental)*/
  .dark-mode{
	background-color: black;
	/*color: white;*/
}

.darkBtn{
  right:0;
  top: 0; /* Position the navbar at the top of the page */
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  background-color: black;
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  /*margin: 4px 2px;*/
  cursor: pointer;
}