/* My Starter Template */

* {
	box-sizing: border-box;
  }

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Space Mono', monospace;
  line-height: 2.2;
  background: #CAFFFED2;
  margin: auto;
  padding: 0;
  max-width: 3750%;
}

g{
	margin-top:  10%;
	font-size: 90%;
	margin-left: 1%;
	color: #000000;
}

img{
	background: #000000;
	font-size: 20%;
	margin-right: 0%;
	margin-left: 0.2%;
	position: relative;
  animation-name: logo;
  animation-duration: 5s
}

@keyframes logo{
  0%   {right:-200%; top:0%;}
  25%  {right:0%; top:0%;}
}


h1 {
  font-size: 100%;
  text-align: center;
  margin-left: 0%;
  background: #704614;
  margin-top: 0%;
  margin-bottom: 10%;
  box-shadow: 0px 5px 20px black;
  max-width: 100%;
  line-height: 300%;
  color: #FFFFFF;
  background: url("../images/WeirdPoliteAntelope-max-1mb.gif");
  background-position: center; 
}

div.company.logo{
	text-align: center;
}

h3 {
  text-align: center;
  font-size: 90%;
  background: #7B8B8E;
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 0%;
  line-height: 300%;
  max-width: 80%;
  position: relative;
  animation-name: ourgame;
  animation-duration: 5s
}

@keyframes ourgame{
  0%   {left:-200%; top:0%;}
  25%  {left:0%; top:0%;}
}

ul{
  margin-left: 13%;
  margin-right: 13%;
  margin-bottom: 35%;
  background: url("../images/YsWRDA.gif");
  position: relative;
  animation-name: list;
  animation-duration: 5s;
}

@keyframes list{
  0%   {right:-200%; top:0%;}
  25%  {right:0%; top:0%;}
}

.mar{
	padding-bottom: 30%;
}
/*Bottom Navigation Bar*/
#navbar {
	background-color: #333;
	position: fixed;
	bottom: 0%;
	left:0%;
	width: 100%;
	display: block;
	transition: top 0.3s;
  }
  
  #navbar a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 2%;
	text-decoration: none;
	font-size: 93.75%;
	width : 33.33%;
  }
  
  #navbar a:hover {
	background-color: #ddd;
	color: black;
  }

  /*Dark Mode(Experimental)*/
  .dark-mode{
	  background-color: black;
	  /*color: white;*/
  }

  .darkBtn{
	right:0;
	top: 0; /* Position the navbar at the top of the page */
	overflow: hidden;
	position: fixed; /* Set the navbar to fixed position */
	background-color: black;
	border: none;
	color: white;
	padding: 10px 16px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	/*margin: 4px 2px;*/
	cursor: pointer;
  }

 