
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Space Mono', monospace;
  line-height: 2.2;
  background: #CAFFFED2;
  margin: auto;
  padding: 0;
  max-width: 10000px;

}

h1 {
  font-size: 90%;
  text-align: center;
  font-weight: bolder;
  box-shadow: 0px 5px 20px black;
  background-image: url("intro.jpg");
  margin-top: 0%;
  margin-bottom: 20%;
  color: #000000;
}

h1.section_title{
	margin-top: 60px;
}

h1.title{
	text-align: center;
	max-width: 90%;
}

ul{
  margin-left: 13%;
  margin-right: 13%;
  background: #72A6A4;
}

span.section_subtitle{
	font-size: 90%;
	background-image: url("intro.jpg");
}

p.about_description{
	font-size: 80%;
	background-image: url("intro.jpg");
}

.mid{
	text-align: center;
	display: inline-block;
}


.square1{
	height: 150px;
	width: 150px;
	background-image: url("tiles.jpg");
	text-align: center;
	display: inline-block;
	line-height: 150px;
	color: #000000;
	margin-block: 5px;
}

.square2{
	height: 150px;
	width: 150px;
	background-image: url("tiles.jpg");
	text-align: center;
	display: inline-block;
	line-height: 150px;
	color: #000000;
	margin-block: 5px;
}

.square3{
	height: 150px;
	width: 150px;
	background-image: url("tiles.jpg");
	text-align: center;
	display: inline-block;
	line-height: 150px;
	color: #000000;
	margin-block: 5px;
}




.square1{
  width: 150px;
  height: 150px;
  background-image: url("tiles.jpg");;
  position: relative;
  animation-name: example;
  animation-duration: 1.25s;
  animation-timing-function: linear;
  animation-delay:0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes example {
	0%   {background-image: url("tiles.jpg");; left:-500px;top: 0px;}
  100%  {background-image: url("tiles.jpg");; left:0px; top:0px;}
  
}

.square3{
  width: 150px;
  height: 150px;
  background-image: url("tiles.jpg");;
  position: relative;
  animation-name: example1;
  animation-duration: 1.25s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes example1 {
	0%   {
		background-image: url("tiles.jpg"); 
		bottom:-500px;
		left: 0px;}
  100%  {
	background-image: url("tiles.jpg"); 
	  bottom:0px; 
	  left:0px;}
  
}

.square2{
  width: 150px;
  height: 150px;
  background-image: url("tiles.jpg");;
  position: relative;
  animation-name: example2;
  animation-duration: 1.25s;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: 1;
  animation-direction: alternate;
}

@keyframes example2 {
	0%   {background-image: url("tiles.jpg");; right:-500px;top: 0px;}
  100%  {background-image: url("tiles.jpg");; right:0px; top:0px;}
  
}