/* My Starter Template */

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-family: 'Space Mono', monospace;
  line-height: 2.2;
  background: #FDFAF6;
  margin: auto;
  padding: 0;
  max-width: 10000px;
}

h1.headtitle{
	font-size: 250%;
	margin-bottom: -10%
}

p.text{
	font-size: 80%;
	text-align: center;
}

h1.title{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -3%;
	margin-top: 15%;
	position: relative;
    animation-name: mapdesigner;
    animation-duration: 5s;
}

p.button{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 0%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes mapdesigner{
  0%   {left:-200px; top:0px;}
  25%  {left:0px; top:0px;}
}

@keyframes viewmore{
  0%   {left:-200px; top:0px;}
  25%  {left:0px; top:0px;}
}

h1.title1{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -3%;
	margin-top: 15%;
	position: relative;
    animation-name: artist;
    animation-duration: 5s;
}

p.button1{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 0%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore1;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes artist{
  0%   {right:-200px; top:0px;}
  25%  {right:0px; top:0px;}
}

@keyframes viewmore1{
   0%   {right:-200px; top:0px;}
   25%  {right:0px; top:0px;}
}

h1.title2{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -3%;
	margin-top: 15%;
	line-height: 420%;
	position: relative;
    animation-name: programmer;
    animation-duration: 5s;
}

p.button2{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 0%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore2;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes programmer{
  0%   {left:-200px; top:0px;}
  25%  {left:0px; top:0px;}
}

@keyframes viewmore2{
  0%   {left:-200px; top:0px;}
  25%  {left:0px; top:0px;}
}

h1.title3{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -3%;
	margin-top: 15%;
	max-width: 1150%;
	position: relative;
    animation-name: designer;
    animation-duration: 5s;
}

p.button3{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 0%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore3;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes designer{
  0%   {right:-200px; top:0px;}
  25%  {right:0px; top:0px;}
}

@keyframes viewmore3{
   0%   {right:-200px; top:0px;}
   25%  {right:0px; top:0px;}
}

h1.title4{
	text-align: center;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: -3%;
	margin-top: 15%;
	max-width: 1150%;
	position: relative;
    animation-name: sfx;
    animation-duration: 5s;
}

p.button4{
	font-size: 87%;
	text-align: center;
    background-color: #E22323;
    border-radius: 0%;
    color: white;
    margin-left: 15%;
	margin-right: 15%;
    cursor: pointer;
	position: relative;
    animation-name: viewmore4;
    animation-duration: 5s;
	line-height: 130%;
}

@keyframes sfx{
  0%   {left:-200px; top:0px;}
  25%  {left:0px; top:0px;}
}

@keyframes viewmore4{
  0%   {left:-200px; top:0px;}
  25%  {left:0px; top:0px;}
}

h1 {
  font-size: 90%;
  text-align: center;
  background: #01DCEC;
  margin-top: 0%;
  margin-bottom: 20%;
}

button {
  display: block;
  font-size: 1.2%;
  padding: 0.5em 1em;
  border: none;
  background:#5B0992;
  color: #FFFFFF;
  font-family: 'Space Mono', monospace;
  margin-bottom: 15px;
}
